<%- include('header') -%>

<h2>This is About</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam fuga
  inventore earum cupiditate quidem incidunt veniam sequi. Distinctio fugiat sed
  quia saepe at aut expedita rerum culpa aspernatur, non mollitia incidunt,
  facilis nulla doloremque esse repellendus temporibus assumenda ad? Blanditiis
  expedita quam possimus cum, eum vitae illum quidem obcaecati voluptates ex
  necessitatibus sit soluta nemo eaque facere debitis perspiciatis assumenda non
  eligendi magnam perferendis labore minima rerum! Magnam at culpa amet, ducimus
  ipsum dolor similique quis fugiat sapiente temporibus esse cupiditate debitis
  sunt dignissimos explicabo commodi nisi eaque, eos eius animi laboriosam
  error, accusantium beatae. Harum hic dicta eligendi voluptatibus?
</p>

<%- include('footer') -%> 